{% extends "layout.html" %}
{% block content %}
<link rel="stylesheet" href="{{url_for('static',filename='article_page.css')}}">
<h1>All About Budgeting!</h1>
<div class="arc">
    <p>
        <h2>What is a budget?</h2>
        If you want to control your spending and work toward your financial goals, you need a budget. A personal or household budget is a summary that compares and tracks your income and expenses for a defined period, typically one month.While the word "budget" is often associated with restricted spending, a budget does not have to be restrictive to be effective. A budget will show you how much money you expect to bring in, then compare that to your required expenses—such as rent and insurance—and your discretionary spending, such as entertainment or eating out. Instead of viewing a budget as a negative, you can view it as a tool for achieving your financial goals
        <h2>What does a budget do?</h2>
        A written, monthly budget is a financial planning tool that allows you to plan how much you will spend or save each month. It also allows you to track your spending habits. Though making a budget may not sound like the most exciting activity (and for some, it's downright scary), it's an important part of keeping your financial house in order. That's because budgets rely on balance. If you spend less in one area, you can spend more in another, save that money for a large purchase, build a "rainy day" fund, increase your savings, or invest in building wealth. Ultimately, the result of your new budget will show you where your money is coming from, how much is there, and where it all goes each month.
        <h2>How to make a budget?</h2>
        To create a budget that works and allows you to live a comfortable and happy life, you need to get a firm handle on what you’re currently spending, what you can afford to spend, and what your priorities are. Before you embark on making a budget, find a good template you can use to fill in the numbers for your expenses and income.
        You could follow the following steps:
        <br>
        <span>1.	Gather your financial paperwork:</span>
        <br>
        You want to have access to any information about your income and expenses. One of the keys to the budget-making process is to create a monthly average. The more information you can dig up, the better. 
        <br>
        <span>2.	Calculate your income:</span>
        <br>
        Information about your income and expenses. One of the keys to the budget-making process is to create a monthly average. The more information How much income can you expect each month? If your income is in the form of a regular paycheck where taxes are automatically deducted, then using the net income (or take-home pay) amount is fine. If you are self-employed or have outside sources of income, such as child support or Social Security, include these as well. Record this total income as a monthly amount.
        <br>
        <span>3.	Create a List of Monthly Expenses</span>
        <br>
        Write down a list of all the expenses you expect to have during a month. Use your bank statements, receipts, and credit card statements from the last three months to identify all your spending.
        <br>
        <span>4.	Determine Fixed and Variable Expenses</span>
        <br>
        Fixed expenses are those mandatory expenses that you pay the same amount for each time. Include items like mortgage or rent payments, car payments, set-fee internet service, trash pickup, and regular child care. If you pay a standard credit card payment, include that amount and any other essential spending that tends to stay the same from month to month. If you plan to save a fixed amount or pay off a certain amount of debt each month, also include savings and debt repayment as fixed expenses. Start assigning a spending value to each category, beginning with your fixed expenses. Then, estimate how much you'll need to spend per month on variable expenses.
        If you're not sure how much you spend in each category, review your last two or three months of credit card or bank transactions to make a rough estimate.
        <br>
        <span>5.	Total Your Monthly Income and Expenses</span>
        <br>
        If your income is higher than your expenses, you are off to a good start. This extra money means you can put funds towards areas of your budget, such as retirement savings or paying off debt. If your expenses are more than your income, that means you are overspending and need to make some changes
        <br>
        <span>6.	Make Adjustments to Expenses</span>
        <br>
        If you're in a situation where expenses are higher than income, find areas in your variable expenses you can cut. Look for places you can reduce your spending—like eating out less—or eliminate a category—like canceling your gym membership. Aim to have your income and expense columns to be equal. This equal balance means all of your income is accounted for and budgeted toward a specific expense or savings goal.
        <h2>How To Use Your Budget?</h2>
        After you have set up your budget, you must monitor and continue to track your expenses in each category, ideally every day of the month. The same budgeting spreadsheet or app used to make your budget can also be used to record your expense and income totals. Recording what you spend throughout the month will keep you from overspending and help you identify unnecessary expenses or problematic spending patterns. Take a few minutes each day to record your expenses, rather than putting it off until the end of the month. As you use your budget, keep an eye on how much you have spent. Once you have reached your spending limit in a category, you will either need to stop that type of spending for the month or move money from another category to cover additional expenses. Your goal in using your budget should be to keep your expenses equal to or lower than your income for the month.
        <h2>More Budgeting Tips:</h2>
        •	A budget only works if you are honest about both your income and expenses. To make an effective budget, you must be willing to work with detailed and accurate information about your earning and spending habits.
        <br>
        •	 While you can use old-fashioned pen and paper to budget your money, it's easier and more efficient to use a monthly budget spreadsheet or a budgeting app. These will contain designated fields for income and expenses in various categories, as well as built-in formulas to help you figure your budget surplus or shortfall with minimal effort.
        <br>
        •	     If you have a variable income (for example, from a seasonal or freelance job), consider using the income from your lowest-earning month in the past year as your baseline income when you set up your budget.
        <br>
        •	If you don't have an emergency fund, include a category for "surprise expenses" that might pop up over the month and derail your budget.
        <br>
        •	If you have more income than expenses, consider adopting the “50-30-20” budgeting philosophy. In a 50-30-20 budget, "needs," or essential expenses, should represent half of your budget, wants should make up another 30%, and savings and debt repayment should make up the final 20% of your budget.
        <br>
        •	If your expenses are far above your income, or you have significant debt, reducing your variable expenses may not be enough. You may need to trim your fixed expenses and increase your income to balance your budget.
        <br>
        •	If you're not confident that you can budget your money, adopt the envelope system where you divide cash for spending into separate envelopes for different spending categories. When an envelope becomes empty, you'll have to stop spending in that particular category.
        <br>
        •	If you work on commission, be aggressive in saving to help cover periods when the market is slow. 
        <br>
        •	If you have cash flow issues because you are paid only once a month, divide that payment by weeks, and keep the cash you planned to spend in remaining weeks in a separate account until you need it.
        <br>
        •	Pay with a credit card only if you will have the money to pay it off at the end of the month. Otherwise, you will owe interest on top of the price of whatever you bought.
        <br>
        •	Adjust your budget monthly if you find you overestimated or underestimated your expenses. Keep an eye on large expenses that only occur every few months, such as insurance payments.
        <br>
        •	If you tend to overspend in certain categories, use budgeting hacks such as switching to a cash-only budget.
        <br>
        •	Once your expenses are lower than your income, budget towards savings goals before you increase your spending.
        <br>
        •	Take time to learn other financial skills to improve your financial literacy and make your money work harder for you.  
    </p>
    
</div>
{% endblock %}