{% extends "layout.html" %}
{% block content %}
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto&display=swap">
    <link rel="stylesheet" href="{{url_for('static', filename ='article_page.css')}}">

  <body>
    <div class="main_article">
      <div class="article">
        <div class="article_text">
          <h1>All About Budgeting!</h1>
          <p>
          <h3>What Is A Budget?</h3>
          If you want to control your spending and work toward your financial goals, you need a budget. A personal or household 
          budget is a summary that compares and tracks your income and expenses for a defined period, typically one month.
          While the word "budget" is often associated with restricted spending, a budget does not have to be restrictive to be 
          effective. A budget will show you how much money you expect to bring in, then compare that to your required 
          expenses—such as rent and insurance—and your discretionary spending, such as entertainment or eating out. 
          Instead of viewing a budget as a negative, you can view it as a tool for achieving your financial goals.....
          <a href="/a1">Read More</a>
          </p>
        </div>
        <img class="article_img" src="{{url_for('static', filename ='Article1.jpg')}}" >
      </div>
      <br>
      <br>
      <br>
      <div class="article">
        <div class="article_text">
          <h1>Finance Of India</h1>
          <p>
            A developing country – India is the 5th largest economy in the world in terms of its nominal GDP. The Indian Financial 
            System refers to all institutions, structures, and services that provide pecuniary facilities to the public. It makes 
            possible trade and transfers of funds in a secure manner. India, being a democracy has independent pillars of the 
            financial system especially in the areas of banking, capital and stock markets, insurance, liabilities, claims, 
            transactions, and investments. It is important for wealth creation and the economic development of the country.....
            <a href="/a2">Read More</a>
          </p>
          </p>
        </div>
        <img class="article_img" src="{{url_for('static', filename ='Article2.jpg')}}" >
      </div>
      <br>
      <br>
      <br>
      <div class="article">
        <div class="article_text">
          <h1>FInancial Terminologies You Need To Know!</h1>
          <p>
            For non-finance professionals, the, thought of talking data, forecasts, and valuations can seem daunting. But developing your financial skills so that you have financial fluency can help you excel professionally, and a greater impact on your company. Finance affects every business function. It’s what determines the number of employees you can hire, and dictates your annual budget. It’s what helps you balance short-term expenses with long term goals, and meaningfully measure your team's performance. Quite frankly, it's what keeps your company afloat; an organization can’t operate successfully if it’s not financially sound. Understanding the financial implications of your decisions and clearly communicating those decisions to key stakeholders can help advance your career. But first, you need to grasp the financial terminologies. Here are 20 financial terms and definitions you should know.....
            <a href="/a3">Read More</a>
          </p>
          </p>
        </div>
        <img class="article_img" src="{{url_for('static', filename ='Article3.jpg')}}" >
      </div>
      <br>
      <br>
      <br>
      <div class="article">
        <div class="article_text">
          <h1>All About Inflation!</h1>
          <p>
            Inflation is defined as a sustained increase in the price level or a fall in the value of money. When the level of currency of a country exceeds the level of production, inflation occurs. Value of money depreciates with the occurrence of inflation. According to C. CROWTHER, `Inflation is state in which the value of money is falling and the prices are rising.’ In Economics, the word `Inflation’ refer to general rise in prices measured against a standard level of purchasing power. Open, Suppressed, Galloping, Creeping and Hyper are the types of inflation.....
            <a href="/a4">Read More</a>
          </p>
        </div>
        <img class="article_img" src="{{url_for('static', filename ='Article4.jpg')}}" >
      </div>
      <br>
      <br>
      <br>
      <div class="article">
        <div class="article_text">
          <h1>Investment Options You Need To Know!</h1>
          <p>
            In this developing world, you need to be skilled, smart to make money and earn life. Investment is one of the smartest ways of earning. Investment is a essential part of wealth creation. It helps you beat inflation, fulfill your financial goals, and stabilize your financial future. Instead of letting money lie idle in your bank accounts, you can in different avenues like stocks, equities, mutual funds, and fixed deposits. Think of various types of investments as tool that can help you achieve your financial goals. Each broad investment –from bank products to stocks and bonds- has its own general way of features and ways in which they can be used by investors. With many investment plans available in the market, choosing the right one could be challenging. Listed below are a few types of investment plans that can help grow savings.....
            <a href="/a5">Read More</a>
          </p>
        </div>
        <img class="article_img" src="{{url_for('static', filename ='Article5.jpg')}}" >
      </div>
      <br>
      <br>
    </div>
  </body>
{% endblock %}
