{% extends "layout.html" %}
{% block content %}
<link rel="stylesheet" href="{{url_for('static',filename='article_page.css')}}">
<h1>Financial Terminologies – You Need to Know!</h1>
<div class="arc">
    <p>
        For non-finance professionals, the, thought of talking data, forecasts, and valuations can seem daunting. But developing 
        your financial skills so that you have financial fluency can help you excel professionally, and a greater impact on your 
        company. Finance affects every business function. It’s what determines the number of employees you can hire, and dictates 
        your annual budget. It’s what helps you balance short-term expenses with long term goals, and meaningfully measure your 
        team's performance. Quite frankly, it's what keeps your company afloat; an organization can’t operate successfully if it’s 
        not financially sound. Understanding the financial implications of your decisions and clearly communicating those decisions 
        to key stakeholders can help advance your career. But first, you need to grasp the financial terminologies.<br><br>
        <span>Here are 20 financial terms and definitions you should know.</span><br> 
        <h2>1. Amortization:</h2>
        Amortization is a method of spreading an intangible asset's cost over the course of its useful life. Intangible assets are non-physical assets that are essential to a company, such as a trademark, patent, copyright, or franchise agreement.
        <h2>2. Assets:</h2>
        Assets are items you own that can provide future benefit to your business, such as cash, inventory, real estate, office equipment, or accounts receivable, which are payments due to a company by its customers. <br>
        There are different types of assets, including:
        <br>•	Current Assets: Which can be converted to cash within a year
        <br>•	Fixed Assets: Which can’t immediately be turned into cash, but are tangible items that a company owns and uses to generate long-term income.
        <h2>3. Asset Allocation:</h2>
        Asset allocation refers to how you choose to spread your money across different investment types, also known as asset classes.<br>
        These include:
        <br>•	<span class="sub_head">Bonds</span>: Bonds represent a form of borrowing. When you buy a bond, typically from the government or a corporation, you’re essentially lending them money. You receive periodic interest payments and get back the loaned amount at the time of the bond’s maturity—or the defined term at which the bond can be redeemed.
        <br>•	<span class="sub_head">Stocks</span>: A stock is a share of ownership in a public or private company. When you buy stock in a company, you become a shareholder and can receive dividends—the company’s profits—if and when they are distributed.
        <br>•	<span class="sub_head">Cash and Cash Equivalents</span>: This refers to any asset in the form of cash, or which can be converted to cash easily in the event it's necessary.
        <h2>4. Balance Sheet:</h2>
        A balance sheet is an important financial statement that communicates an organization’s worth, or “book value.” The balance sheet includes a tally of the organization’s assets, liabilities, and shareholders’ equity for a given reporting period.<br>
        <span class="sub_head">The Balance Sheet Equation:</span>
        Balance sheets are arranged according to the following equation: <b>Assets = Liabilities + Owners’ Equity</b>
        <h2>5. Capital Gain:</h2>
        A capital gain is an increase in the value of an asset or investment above the price you initially paid for it. If you sell the asset for less than the original purchase price, that would be considered a capital loss.
        <h2>6. Capital Market:</h2>
        This is a market where buyers and sellers engage in the trade of financial assets, including stocks and bonds. Capital markets feature several participants, including:
        <br>•	<span class="sub_head">Companies</span>: Firms that sell stocks and bonds to investors
        <br>•	<span class="sub_head">Institutional investors</span>: Investors who purchase stocks and bonds on behalf of a large capital base
        <br>•	<span class="sub_head">Mutual fund</span>s: A mutual fund is an institutional investor that manages the investments of thousands of individuals
        <br>•	<span class="sub_head">Hedge funds</span>: A hedge fund is another type of institutional investor, which controls risk through hedging—a process of buying one stock and then shorting a similar stock to make money from the difference in their relative performance
        <h2>7. Cash Flow:</h2>
        Cash flow refers to the net balance of cash moving in and out of a business at a specific point in time. Cash flow is commonly broken into three categories, including:
        <br>•	<span class="sub_head">Operating Cash Flow</span>: The net cash generated from normal business operations
        <br>•	<span class="sub_head">Investing Cash Flow</span>: The net cash generated from investing activities, such as securities investments and the purchase or sale of assets
        <br>•	<span class="sub_head">Financing Cash Flow</span>: The net cash generated financing a business, including debt payments, shareholders’ equity, and dividend payments
        <h2>8. Cash Flow Statement:</h2>
        A cash flow statement is a financial statement prepared to provide a detailed analysis of what happened to a company’s cash during a given period of time. This document shows how the business generated and spent its cash by including an overview of cash flows from operating, investing, and financing activities during the reporting period.
        <h2>9. Compound Interest:</h2>
        This refers to “interest on interest.” Rather, when you’re investing or saving, compound interest is earned on the amount you deposited, plus any interest you’ve accumulated over time. While it can grow your savings, it can also increase your debt; compound interest is charged on the initial amount you were loaned, as well as the expenses added to your outstanding balance over time.
        <h2>10. Depreciation:</h2>
        Depreciation represents the decrease in an asset’s value. It’s a term commonly used in accounting and shows how much of an asset’s value a business has used over a period of time               
        <h2>11. EBITDA:</h2>
        An acronym standing for Earnings Before Interest, Taxes, Depreciation flow. To get EBITDA, you would add net profit, interest, taxes, depreciation, and amortization together.
        <h2>12. Equity:</h2> 
        Equity, often called shareholders’ equity or owners’ equity on a balance sheet, represents the amount of money that belongs to the owners of a business after all assets and liabilities have been accounted for. Using the accounting equation, shareholder’s equity can be found by subtracting total liabilities from total assets.
        <h2>13. Income Statement:</h2>
        An income statement is a financial statement that summarizes a business’s income and expenses during a given period of time. An income statement is also sometimes referred to as a profit and loss (P&L) statement.
        <h2>14. Liabilities:</h2>
        The opposite of assets, liabilities are what you owe other parties, such as bank debt, wages, and money due to suppliers, also known as accounts payable. There are different types of liabilities, including:
        <br>•	<span class="sub_head">Current Liabilities</span>: Also known as short-term liabilities, these are what’s due in the next year
        <br>•	<span class="sub_head">Long-Term Liabilities</span>: These are financial obligations not due over a year that can be paid off over a longer period of time.
        <h2>15. Liquidity:</h2>
        Liquidity describes how quickly your assets can be converted into cash. Because of that, cash is the most liquid asset. The least liquid assets are items like real estate or land, because they can take weeks or months to sell.
        <h2>16. Net Worth:</h2>
        You can calculate net worth by subtracting what you own, your assets, with what you owe, your liabilities. The remaining number can help you determine the overall state of your financial health.
        <h2>17. Profit Margin:</h2>
        Profit margin is a measure of profitability that’s calculated by dividing the net income by revenue or the net profit by sales. Companies often analyze two types of profit margins:
        <br>•	<span class="sub_head">Gross Profit Margin</span>: Which typically applies to a specific product or line item rather than an entire business.
        <br>•	<span class="sub_head">Net Profit Margin</span>: Which typically represents the profitability of an entire company.
        <h2>18. Return on Investment (ROI):</h2>
        Return on Investment is a simple calculation used to determine the expected return of a project or activity in comparison to the cost of the investment, typically shown as a percentage. This measure is often used to evaluate whether a project will be worthwhile for a business to pursue. ROI is calculated using the following equation: ROI = [(Income - Cost) / Cost] * 100
        <h2>19. Valuation:</h2>
        Valuation is the process of determining the current worth of an asset, company, or liability. There are a variety of ways you can value a business, but regularly repeating the process is helpful, because you’re then ready if ever faced with an opportunity to merge or sell your company, or are trying to seek funding from outside investors.
        <h2>20. Working Capital: </h2>
        Also known as net working capital, this is the difference between a company’s current assets and current liabilities. Working capital—the money available for daily operations—can help determine an organization’s operational efficiency and short-term financial health.
        <br><br>The above terminologies will definitely help you in different business aspects. Financial literacy is important because it equips us with knowledge and skills, we need to manage money effectively. Without it, our financial decisions and the actions we take, lack a solid foundation for success.  
    </p>
</div>
{% endblock %}