{% extends "layout.html" %}
{% block content %}
<link rel="stylesheet" href="{{url_for('static',filename='article_page.css')}}">
<h1>Finance Of India</h1>
<div class="arc">
    <p>                                                                                                                                                                                                                                                 
       A developing country – India is the 5th largest economy in the world in terms of its nominal GDP. The Indian Financial System refers to all institutions, structures, and services that provide pecuniary facilities to the public. It makes possible trade and transfers of funds in a secure manner. India, being a democracy has independent pillars of the financial system especially in the areas of banking, capital and stock markets, insurance, liabilities, claims, transactions, and investments. It is important for wealth creation and the economic development of the country.
       <h2>Characteristics, Importance, and Functions of the Indian Financial System:</h2>
           • Issuing and gathering of deposits.
       <br>•	Supply of loans from the collected pool of money.
       <br>•	The undertaking of financial transactions.
       <br>•	Boosting the growth of stock markets and other financial markets.
       <br>•	Setting up the legal commercial substructure.
       <br>•	Provision of monetary and consultative services.
       <br>•	Permits portfolio adaptation for existing assets.
       <br>•	Allotment of chance and risk.
       <br>•	It forges a connection between depositors and investors.
       <br>•	Boosts depth and breadth of finances by increasing its horizon.
       <br>•	It is responsible for capital creation.
       <br>•	Adds time value to assets and money.
       <br>•	To set up an entire payment structure and system.
       <br>•	Allocate and dissipate the economic resources.
       <br>•	To maintain the economic stability in the country and the markets.
       <br>•	To create markets that can judge the investment performance.
       <h2>Components Of the Indian Financial System</h2>
       It has 5 major components:<br><br>
       <span>1. Financial Institution</span>    
       <br>•	Their role is to mediate between the lender and the borrower.
       <br>•	The lender’s savings are gathered through various commercial markets.
       <br>•	These can turn risky financings into safe investments.
       <br>•	A liability that is for a short duration can be turned into an investment for a longer duration.
       <br>•	These can make comparable large deposits and loans with small deposits and loans due to uniform denominations.
       <br>•	These provide a balance between the loan taker and the amount depositor.
       <br> 
       <span class="sub_head">Financial Institutions have 2 major types:</span>
       <br>
       <span class="sub_head">a. Banking Institutions or Depository Institutions</span>
       <br>•	Their role is to acquire money from the public.
       <br>•	Interests are paid on these deposits made by the people.
       <br>•	The lent money is then provided as loans to those who need it.
       <br>•	Interests are charged on these loans given to those who require it.
       <br>•	Examples include banks and other credit unions.
       <br>
       <span class="sub_head">b. Non-banking Institutions or Non-depository Institutions</span>
       <br>•	Their role is to sell commercial and financial goods and products to those who visit them.
       <br>•	These are based on offering insurance, mutual funds, brokerage deals, etc.
       <br>•	Examples of these majorly include companies.
       <br>
       These further have 3 categories:
       <br>•	<span class="sub_head">Regulatory</span>: Those managements and institutions which regulate and overlook the commercial and financial market. Example – RBI, IRDA, SEBI, etc.
       <br>•	<span class="sub_head">Intermediates</span>: Those institutions which provide financial counseling and help by offering loans etc. Example – PNB, SBI, HDFC, BOB, Axis Bank.
       <br>•	<span class="sub_head">Non – Intermediates</span>: These institutions help corporate visitors with their finances. Examples – NABARD, SIDBI, etc.
       <br><br>
       <span>2. Financial Assets</span>   
       <br>•	The objective of these is to provide convenient trade of securities in the commercial and financial market based on the requirements of those who seek credit.
       <br>•	These are the goods or products which are sold in the financial market.
       Financial Assets include:
       <br>•	<span class="sub_head">Call Money</span>: Without any assurance, this is a loan lent for just a day which is repaid the next day.
       <br>•	<span class="sub_head">Notice Money</span>: Without any assurance, this is a loan rent for more than a day but less than a duration of 14 days.
       <br>•	<span class="sub_head">Term Money</span>: When the duration of the maturity of a particular amount deposited is more than 14 days.
       <br>•	<span class="sub_head">Treasury Bills</span>: With the duration of maturity of less than a year, these belong to the government in the bond or debt security format. These are bought in the form of government T– Bills which are taken as loans from the government.
       <br>•	<span class="sub_head">Certificate of Deposit</span>: This works on the format of electronic funds that remain deposited in a particular bank for a fixed period of time.
       <br>•	<span class="sub_head">Commercial Paper</span>: Used by corporates, it is an instrument that is not secured even though for a short duration of debt.
       <br><br>
       <span>3. Financial Services</span>
       <br>•	The major objective of these is to provide counseling to their visitors regarding the purchase or selling of a property, permitting transactions, deals, lending, and investments.
       <br>•	These make sure the effectiveness of the investment and arrangement of the fund source too.
       <br>•	These are usually taken up by asset and liability management companies.<br>
       Financial services also include in them:
       <br>•	<span class="sub_head">Banking Services</span>: Functions performed by a bank such as the provision of loans, accepting debits, giving out credit or debit cards, account opening, granting checkbooks, etc are a part of these services.
       <br>•	<span class="sub_head">Insurance Services</span>: These include services of offering insurance, selling policies, brokerage deals, etc.
       <br>•	<span class="sub_head">Investment Services</span>: These services include overlooking and management of investment, assets, and deposits.
       <br>•	<span class="sub_head">Foreign Exchange Services</span>: These include currency exchanges, foreign exchanges, and foreign fund transfers.
       <br><br>
       <span>4. Financial Markets</span><br>
       The markets where trade and exchange of bonds, shares, money, investments, and assets take place between buyers and purchasers are these.
       <span class="sub_head">Financial markets have 4 major types:</span>
       <br>
       <span class="sub_head">a. Capital Market</span>
       <br>•	These deal with trades and transactions which take place in the market.
       <br>•	These take place for a period of 1 year.
       <br>•	These are of 3 major types:
       <br>•	Corporate Securities Market
       <br>•	Government Securities Market
       <br>•	Long Term Loan Market
       <br>
       <span class="sub_head"> b. Money Market</span>
       <br>•	These are for short-duration investments.
       <br>•	They are denominated by the government, banks, and other institutions.
       <br>•	This market is based on wholesale debt having a low-risk factor with transparent instruments and formats used.
       <br>•	It has 2 main types:<br>
          1.Organized Money Market<br>
          2.Unorganized Money Market
       <br>
       <span class="sub_head">c. Foreign Exchange Market</span>
       <br>•	A highly developed market dealing with several currencies.
       <br>•	It is responsible for the foreign transfer of funds.
       <br>•	This takes place on the basis of foreign currency rates.
       <br>
       <span class="sub_head">d. Credit Market</span>
       <br>•	This involves both short-duration loans and long-duration loans.
       <br>•	It can be given to both individuals and organizations.
       <br>•	These are granted by several banks, financial institutions, non – financial institutions, etc.
       <br><br> 
       <span>5. Money</span><br>
       It is an important medium of exchange that can be used to purchase goods and services. It can also act as a store of value. It is uniformly accepted everywhere. It eases transactions especially impromptu daily purchases. It makes the. goods and services easily exchangeable. It acts as a verifiable record in the socio-economic context.
       Conclusion: The above Indian financial system article increases awareness regarding the Indian Financial System. It helps prepare well for competitive exams. This also encourages people to know more about the economic functioning of their country holds them able to make beneficial decisions regarding various investments.
       
       
    </p>
</div>
{% endblock %}