{% extends "layout.html" %}
{% block content %}
<link rel="stylesheet" href="{{url_for('static',filename='article_page.css')}}">
<h1>All About Inflation!</h1>
<div class="arc">
    <p>
        Inflation is defined as a sustained increase in the price level or a fall in the value of money. When the level of currency of a country exceeds the level of production, inflation occurs. Value of money depreciates with the occurrence of inflation. <br>
        According to C. CROWTHER, <b>"Inflation is state in which the value of money is falling and the prices are rising."</b> <br>
        In Economics, the word "Inflation" refers to general rise in prices measured against a standard level of purchasing power.<br>
        <h2>Types of Inflation:</h2>
        <br><span class="sub_head">1. Open inflation:</span><br>
        The rate where costs rise due to economic trends of spending products and services.
        <br><span class="sub_head">2. Suppressed Inflation:</span> <br>
        Existing inflation disguised by government price controls or other interferences in the economy such as subsidies. Such suppression, nevertheless, can also be temporary because no governmental measure can completely contain accelerating inflation in the long run. It is also called Repressed Inflation.
        <br><span class="sub_head">3. Galloping Inflation:</span> <br>
        Very rapid Inflation which is almost impossible to reduce. 
        <br><span class="sub_head">4. Creeping Inflation:</span> <br>
        Circumstance where the Inflation of a nation increases gradually, but continually, over time. This tends to be a typically pattern for many nations. Although the increase is relatively small in the short-term, as it continues over time the effect will become greater and greater.
        <br><span class="sub_head">5. Hyper Inflation:</span> <br>
        Hyper Inflation is caused mainly due to excessive deficit spending (financed by printing more money) by a government. Some economist believe that social breakdown leads to hyperinflation (not vice versa), and that roots lie in political rather than economic causes.
        <br>
        <h2>Causes of inflation:</h2>
        <span class="sub_head">1.Factors on demand side:</span>
        <br>•	Increase in money supply.
        <br>•	Increase in disposable income.
        <br>•	Deficit financing.
        <br>•	Foreign exchange reserves.
        <br><span class="sub_head">2.Factors on supply side:</span>
        <br>•	Rise in administered prices.
        <br>•	Erratic agriculture growth.
        <br>•	Agricultural price policy
        <br>•	Inadequate industrial growth.
        <h2>Effect of Inflation:</h2>
        <br>1.	They add inefficiencies in the market, and make it difficult for companies to budget or plan long term.
        <br>2.	Uncertainty about future purchasing powers of money discourages investment and saving.
        <br>3.	There can also be negative impact to trade from an increased instability in the currency exchange prices caused by unpredictable inflation.
        <br>4.	Higher income tax rates. 
        <br>5.	Inflation rate in the economy ids higher than the rates in other countries; this will increase imports and reduce exports, leading to a deficit in the balance of trade. 
        <h2>How Is Inflation measured?</h2><br>
        There are two ways of measuring inflation:
        <br><span class="sub_head">1.Consumer Price Index:</span> <br>
        A measure of price changes in consumer goods and services such as gasoline, food, clothing and automobiles. The CPI measures price change from the perspective of the purchaser.
        <br><span class="sub_head">2.Public Price Index:</span> <br>
        A family of indexes that measure the average change over time in selling prices by domestic producers of goods and services. PPIs measure the price change from the perspective of the seller.
        <h2>Consequences of inflation:</h2>
        <br>1.Adverse effect on production. 
        <br>2.Adverse effect on distribution of income.
        <br>3.Obstacle to development.
        <br>4.Change in relative prices.
        <br>5.Adverse effect on the B.O.P
        <h2>Measures of inflation:</h2>
        <span class="sub_head">1.Monetary policy:</span>
        <br>•	Credit Control
        <br>•	Demonetization of currency
        <br>•	Issue of new currency
        <br><span class="sub_head">2.Fiscal Policy:</span>
        <br>•	Reduction in unnecessary expenditure
        <br>•	Increase in taxes
        <br>•	Increase in savings
        <br>•	Surplus Budgets
        <br>•	Public debt
        <br><span class="sub_head">3.Other measures:</span>
        <br>•	To increase production 
        <br>•	Rational wage policy
        <br>•	Price control
    </p>
</div>
{% endblock %}