{% extends "layout.html" %}
{% block content %}

<form class="form3" method="post" action="">
    {{form.hidden_tag()}}
    <div class="main_profile" id="post_editor">
        <p id="profile_name" align="center">Edit Post</p>

            {% if form.headline.errors %}
            {{ form.headline(class="un ", placeholder="Username")}}
            <div class="alerts">
                {% for error in form.headline.errors %}
               <p align="center"><span class="errors">{{ error }}</span></p>
                {% endfor %}
            </div>
            {% else %}
            {{ form.headline(class="un ", placeholder="Headline")}}
            {% endif %}

            {% if form.description.errors %}
            {{ form.email(class="email", placeholder="Description")}}
            <div class="alerts">
                {% for error in form.description.errors %}
                <p align="center"><span class="errors">{{ error }}</span></p>
                {% endfor %}
            </div>
            {% else %}
            {{ form.description(class="email", placeholder="Description")}}
            {% endif %}

            {{form.edit(class="submit")}}
    </div>
</form>
{% endblock %}