{% extends "layout.html" %}
{% block content %}
<form class="form1" method="post" action="">
    {{form.hidden_tag()}}
    <div class="main">
        <p class="sign" align="center">Sign Up</p>
            {% if form.username.errors %}
            {{ form.username(class="un ", placeholder="Username")}}
            <div class="alerts">
                {% for error in form.username.errors %}
               <p align="center"><span class="errors">{{ error }}</span></p>
                {% endfor %}
            </div>
            {% else %}
            {{ form.username(class="un ", placeholder="Username")}}
            {% endif %}

            {% if form.email.errors %}
            {{ form.email(class="email", placeholder="Email")}}
            <div class="alerts">
                {% for error in form.email.errors %}
                <p align="center"><span class="errors">{{ error }}</span></p>
                {% endfor %}
            </div>
            {% else %}
            {{ form.email(class="email", placeholder="Email")}}
            {% endif %}

            {% if form.password.errors %}
            {{ form.password(class="pass", placeholder="Password")}}
            <div class="alerts">
                {% for error in form.password.errors %}
                <p align="center"><span class="errors">{{ error }}</span></p>
                {% endfor %}
            </div>
            {% else %}
            {{ form.password(class="pass", placeholder="Password")}}
            {% endif %}

            {% if form.confirm_password.errors %}
            {{ form.confirm_password(class="pass", placeholder="Password")}}
            <div class="alerts">
                {% for error in form.confirm_password.errors %}
                <p align="center"><span class="errors">{{ error }}</span></p>
                {% endfor %}
            </div>
            {% else %}
            {{ form.confirm_password(class="pass", placeholder="Confirm Password")}}
            {% endif %}

            {{form.submit(class="submit")}}
            <p class="forgot" align="center"> Read our <a class="login-link" href="/p">privacy policy</a> before creating an account. </p>
            <p class="forgot" align="center"> Already registered? <a class="login-link" href="/l">Click here</a> to login. </p>
            <br>
    </div>
</form>
{% endblock %}