
/*Layout CSS*/
body{
  /*background-image: url("https://media.istockphoto.com/photos/piggy-bank-savings-picture-id1266251072?b=1&k=20&m=1266251072&s=170667a&w=0&h=VrBt8SHZnMxoCnLNbRpNDuHFmWKW6U3IP7V3Fr3bnck= ");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;*/
  background-color: #21325E;
  /*font-family: 'Montserrat', sans-serif;*/
  font-family: 'Fredoka', sans-serif;
  margin: 0px;
  padding: 0px;
}
#Small_profile_pic{
border-radius: 70%;
margin: auto;
border-style: solid;
border-color: white;
}

#search{
background: #F1D00A;
border-radius: 15px;
cursor: pointer;
transform: scale(0.8);
color: black;
font-size: 17px;
font-weight: 700;
padding: 10px 10px;
margin: 10px;
text-decoration: none;
text-transform: uppercase;
border: none;
}
#dropdown{
transform: scale(0.8);
width: 40%;
color: grey;
font-weight: 700;
font-size: 14px;
letter-spacing: 1px;
background: rgba(136, 126, 126, 0.04);
padding: 10px 20px;
border: 2px solid white;
border-radius: 20px;
outline: none;
box-sizing: border-box;
border: 2px solid white;
margin-left: 20%;
text-align: center;
margin-top: -15%;
margin-bottom: -5%;
}
#month{
  color: grey;
}
#type{
  color: grey;
}

.container {
height: 100vh;
width: 100%;
padding-right: 3%;
padding-left: 5%;
box-sizing: border-box;
position: relative;
}
.header {
width: 100%;
height: 15vh;
margin: auto;
display: flex;
align-items: center;
justify-content: center;
}
.logo {
width: 175px;
margin-top: 50px;
margin-left: -30px;
cursor: pointer;
border-radius: 60px;
}
nav {
display: flex;
flex: 1;
justify-content: center;
}
nav ul li {
display: inline-flex;
list-style: none;
margin: 0 15px;
}
nav ul li a {
text-decoration: none;
color: white;
font-size: 22px;
font-weight: 700;
}
li a:hover {
text-decoration: underline;
}
#btn1 {
background: #F1D00A;  
border-radius: 10px;
cursor: pointer;
color: black;
font-size: 17px;
font-weight: 700;
padding: 10px 10px;
margin: 10px;
text-decoration: none;
text-transform: uppercase;
}
a {
text-decoration: none;
color: black;
}
#btn2 {
background: #F1D00A;
border-radius: 10px;
cursor: pointer;
color: black;
font-size: 17px;
font-weight: 700;
padding: 10px 10px;
margin: 10px;
text-decoration: none;
text-transform: uppercase;
}
.btn{
  border: none;
}
.btn:hover {
transform: scale(1.1);
}
.content {
position: relative;
display: flex;
width: 50%;
align-items: center;
justify-content: space-between;
padding-top: 3%;
}
.content .text {
position: relative;
max-width: 600px;

}
.content .text h1 {
text-transform: uppercase;
font-weight: 800;
margin-top: 80px;
line-height: 1.5em;
letter-spacing: 5px;
font-size: 40px;
color: #fff;
}
.content .text h1 span {
font-size: 40px;
}
.content .text p {
font-size: 18px;
font-weight: 700;
letter-spacing: 2px;
margin-top: 40px;
color: white;
}
.join span {
  margin-left: 300px;
  font-size: 50px;
  color: #F1D00A;
}
#btn3 {
background: #F1D00A;
margin-top: 50px;
margin-left: 140px;
padding: 12px 12px;
text-align: center;
outline: none;
text-transform: uppercase;
font-size: 20px;
font-weight: 700;
border-radius: 15px;
}

.image{
  height: 200px;
  width: 300px;
}

/*Registration and Login CSS*/

.main {
background-color: #3E497A;
width: 30%;
margin: 90px 120px;
margin-left: 35%;
margin-bottom: 100px;
border-radius: 50px;
}

.sign {
padding-top: 20px;
padding-bottom: 20px;
color: white;
font-weight: bold;
font-size: 23px;
}
.email {
width: 76%;
color: white;
font-weight: 700;
font-size: 14px;
letter-spacing: 1px;
background: rgba(136, 126, 126, 0.04);
padding: 10px 20px;
border: none;
border-radius: 20px;
outline: none;
box-sizing: border-box;
border: 2px solid white;
margin-bottom: 50px;
margin-left: 46px;
text-align: center;
margin-bottom: 27px;

}

.remember{
  color: white;
}
.un {
width: 76%;
color: white;
font-weight: 700;
font-size: 14px;
letter-spacing: 1px;
background: rgba(136, 126, 126, 0.04);
padding: 10px 20px;
border: none;
border-radius: 20px;
outline: none;
box-sizing: border-box;
border: 2px solid white;
margin-bottom: 50px;
margin-left: 46px;
text-align: center;
margin-bottom: 27px;
}

form.form1 {
padding-top: 40px;
margin-top: -4%;
}
#login_block{
  margin-top: -1%;
}
.pass {
width: 76%;
color: white;
font-weight: 700;
font-size: 14px;
letter-spacing: 1px;
background: rgba(136, 126, 126, 0.04);
padding: 10px 20px;
border: none;
border-radius: 20px;
outline: none;
box-sizing: border-box;
border: 2px solid white;
margin-bottom: 50px;
margin-left: 46px;
text-align: center;
margin-bottom: 27px;
}

.remember{
  color: white;
}
.submit {
cursor: pointer;
border-radius: 10px;
color: black;
background: #F1D00A;
border: 0;
padding: 10px 40px 10px 40px;
margin-bottom: 25px;
margin-left: 35%;
font-size: 14px;
}
.forgot{
align-items: center;
margin-top: 15px;
margin-bottom: 15px;
color: white;
}
.login-link{
color: #F1D00A;
text-decoration: underline;
}
.errors{
  color: red;
  background-color: #FEEFB3;
  margin-left: 45%;
}
.errors2{
  color: #4F8A10;
  background-color: #DFF2BF;
  margin-left: 45%;
}
.alerts{
margin-top: -20px;
margin-bottom: 20px;
}





/*Tracker Page*/
form.form2 {
padding-top: 40px;
margin-top: -1%;
}
.main_tracker {
background-color: #3E497A;
width: 30%;
margin: 90px 120px;
margin-left: 0.01%;
margin-bottom: 1%;
margin-top: 5%;
border-radius: 50px;
}
.main_tracker_history {
background-color: #3E497A;
width: 35%;
z-index: 0;
margin-left: 32%;
margin-top: -33%;
border-radius: 50px;
height: 60vh;
max-height: 60rem;
overflow: auto;
}
.main_tracker_summary {
background-color: #3E497A;
width: 30%;
z-index: 0;
margin-left: 69%;
margin-top: -33%;
border-radius: 50px;
}

/* width */
::-webkit-scrollbar {
  width: 20px;
}
/* Track */
::-webkit-scrollbar-track {
margin-top: 50px;
 margin-bottom: 50px;
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

#del_but{
background: #F1D00A;
border-radius: 15px;
cursor: pointer;
color: black;
font-size: 17px;
font-weight: 700;
padding: 10px 3px;
margin: 10px;
margin-right: -10px;
text-decoration: none;
text-transform: uppercase;
}

#edit_but{
background: #F1D00A;
border-radius: 15px;
cursor: pointer;
color: black;
font-size: 17px;
font-weight: 700;
padding: 10px 3px;
margin: 10px;
margin-right: -10px;
text-decoration: none;
text-transform: uppercase;
}

.main_profile{
background-color: #3E497A;
width: 30%;
margin: auto;
margin-bottom: 70px;
border-radius: 50px;
}

#profile_pic{
transform: scale(0.8);
border-radius: 70%;
margin-top: 5px;
margin-bottom: 5px;
margin-left: 70px;
border-style: solid;
border-color: white;
}

#profile_name{
padding-top: -10px;
padding-bottom: 8px;
color: #F1D00A;
font-weight: bold;
font-size: 23px;
}

.chart_display{
width: 43%;
height: 100%;
margin-left: 6%;
margin-top: -1%;
display: inline-block;
}
#Y_Chart{
  height: 25%;
  padding: 2%;
  margin-top: -3%;
}
#M_Chart{
  height: 25%;
  padding: 3%;
  margin-top: -3%;
}
#m_chart{
  height: 75%;
  padding: 0px;
}
.chart_title{
  display: flex;
  float: left;
  align-items: center;
  width: 100%;
  margin-top: -3%;
}
h1.chart_title{
  color: white;
  padding-left: 6.5%;
  margin-top: 3.5%;
  margin-bottom: 0%;
  width: 50%;
}
form.hist{
  margin: 2%;
  margin-top: -9%;
  margin-bottom: -5%;
}
#user_buttons1{
position:absolute;
width :10%;
display: inline-block;
margin-top: 15%;
margin-left: 12%;
vertical-align: middle;
}

#user_buttons2{
position:absolute;
width :10%;
display: inline-block;
margin-top: 15%;
margin-left: 73%;
vertical-align: middle;
}
.profile_container{
display:flex;
flex-wrap: nowrap;
flex-flow: column;
}
#btn_chart{
z-index: 2;
background: #F1D00A;
border-radius: 15px;
cursor: pointer;
color: black;
font-size: 17px;
font-weight: 700;
padding: 10px 10px;
text-decoration: none;
text-transform: uppercase;
/*Change start (along with moving write a post button to a different div element)*/
margin: 10%;
/*change end*/
border: none;
}

/*Write a Post Page*/
form.form3 {
padding: 40px;
margin-top: -4%;
}
#write_post{
  padding: 10px;
  margin-top: 12%;
}
#editor{
  margin-left: 33.5%;
  margin-top: 9%;
  padding: 30px;
}
.landing_img{
  display: inline-block;
  width:"632";
  height:"395";
  transform: scale(1.3);
}
#about_img{
  display: inline-block;
  width:"612";
  height:"408";
}
#save{
  display: inline-block;
}
#post_editor{
  margin-left: 33.5%;
  margin-top: 11%;
}

.summary_{
margin-top: -6%;
padding-top: 10px;
padding-bottom: 10px;
color: white;
font-weight: bold;
font-size: 23px;
}

.summary_title{
padding-top: 20px;
padding-bottom: 20px;
color: #F1D00A;
font-weight: bold;
font-size: 23px;
}

.hist_head{
  z-index: 2;
  position: sticky;
  top: 0;
  background-color: #3E497A ;
}

#hist_head{
margin-bottom: -5%;
margin-top: -2%;
}
.ex_entry{
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  padding: 1%;
}
.entry{
  display: inline-block;
  margin-left: 10%;
}
.butns{
  display: inline-block;
  margin-right: 5%;
  width: 20%;
}
#save1{
  display: flex;
  flex-wrap: nowrap;
  width: 100%;
}
#save_mon{
  margin-right: 25%;
  margin-bottom: 23%;
}
#user_count{
  margin-left: 10%;
}
.blog_text{
  margin-left: -1.5%;
}
#del_me{
  margin-top: -1%;
}
#delete_me{
  vertical-align: middle;
  height: 100%;
  margin-top: 10%;
}
.checklist p{
  margin: 0%;
  text-align: center;
}
#del_head{
  padding-top: 20px;
  padding-bottom: 8px;
  color: #F1D00A;
  font-weight: bold;
  font-size: 23px;
  margin-top: 2%;
}

.privacy{
  color: white;
}
.privacy h1{
  color: #F1D00A;
}
#privy a{
  color: #F1D00A;
}